<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:name="com.xk.m2.YueApplication">

        <!--聚乐堂2 APP-->
        <activity
            android:screenOrientation="portrait"
            android:name="com.yueyinyue.home.juletang.MainActivity"
            android:configChanges="orientation"
            android:label="@string/myappname"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="INCLUDECP" android:value="${INCLUDECP}"/>

    </application>

</manifest>
