<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.xk.m"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-sdk tools:overrideLibrary="com.dd.processbutton, jp.wasabeef.recyclerview, com.romainpiel.shimmer, com.getbase.floatingactionbutton, com.github.yoojia.fireeye,com.arlib.floatingsearchview, me.grantland.widget,com.bartoszlipinski.viewpropertyobjectanimator,com.dexafree.materialList"/>

    <application
        android:name="com.yueyinyue.YueApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        tools:replace="android:label"
        android:label="@string/myappname">

        <meta-data android:name="miguopen_appid" android:value="${miguopen_appid}"/>
        <meta-data android:name="miguopen_chcode" android:value="${miguopen_chcode}"/>
        <meta-data android:name="categoryArray" android:value="${categoryArray}"/>
        <meta-data android:name="limitedArray" android:value="${limitedArray}"/>
        <meta-data android:name="price" android:value="${price}"/>
        <meta-data android:name="serviceIdArray" android:value="${serviceIdArray}"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="29cbd600bb8183011201895a931db91e93f2d614"/>

        <activity
            android:name="com.yueyinyue.search.SearchActivity"
            android:theme="@style/MyAppTheme">
        </activity>
        <activity
            android:name="com.cmsc.cmmusic.common.CMMusicActivity"
            android:theme="@style/AppTheme"/>

        <service
            android:name="com.cmsc.cmmusic.common.MediaService"
            android:enabled="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.android.sitech.ttpod.media.MEDIASERVICE"/>
            </intent-filter>
        </service>

        <activity
            android:name="com.yueyinyue.downloaded.MyDownloadActivity"
            android:exported="false"
            android:label="@string/title_activity_my_download"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.transferinfobetweenactivitys.intent.action.anotheractivity"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.yueyinyue.cp.CpActivity"
            android:theme="@style/MyAppTheme">
        </activity>

        <meta-data android:name="test" android:value="app-JuLeTangConfig2-release_v1.0.1_2016-08-06.apk"/>
    </application>

</manifest>
